<div class="container">
  <h2 id="title">Conventions, Conventions</h2>

  <div class="row">
    <div class="col-sm-6">
      {{
        attribute-text
        model=model
        attribute='name'
        onUpdateValue=(action 'setName')
      }}
    </div>
    <div class="col-sm-6">
      {{
        attribute-text
        model=model
        attribute='age'
        onUpdateValue=(action 'setAge')
      }}
    </div>
  </div>

  {{outlet}}
</div>


